.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  /* border: 5px solid black; */
}

img {
  width: 100%;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-thirds {
  flex-basis: calc(2 * (100% / 3));
}

.column-full {
  width: 100%;
}
