* {
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  flex-wrap: wrap;
  text-align: center;
}

.spanCont {
  width: 100%;
  margin: auto auto;
  flex-basis: 100%;
}

.correct {
  color: lime;
}

.wrong {
  color: red;
}

.currentL {
  border-bottom: 5px solid black;
}

.row {
  width: 100%;
  display: flex;
}

.congratsCont {
  margin: auto auto;
  flex-basis: 50%;
}

.half {
  flex-basis: 50%;
}

.redoBtn {
  width: 300px;
  height: 70px;
  background-color: limegreen;
  font-size: 20px;
}

.hidden {
  display: none;
}
