* {
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.spanCont {
  margin: auto auto;
}

.correct {
  color: lime;
}

.wrong {
  color: red;
}

.currentL {
  border-bottom: 5px solid black;
}
